<form action="google.com" method="post">
    <ul>
        <li>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </li>
        <li>
            <label for="login">Login</label>
            <input id="login" type="text" name="login">
        </li>
        <li>
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
        </li>
        <li>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </li>
        <li>
            <label for="password_again">Password again</label>
            <input id="password_again" type="Re-password" name="password_again">
        </li>
    </ul>
    <button type="submit">SEND</button>
</form>